* {
    padding: 0;
    margin: 0;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 42px;
    margin-top: 30px;
    width: 100vw;
    font-weight: 100;
    text-align: center;
}
div {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: inherit;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    display: none;
}