* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    height: 86px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px #222 solid;
}
.logo-space {
    height: 84px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    height: 84px;
    transition: 0.3s;
    transition-timing-function: ease-in;
}
.logo:hover {
    height: 78px;
}
.navbar {
    line-height: 50px;
    margin: auto 0;
    width: 60rem;
}
.lista {
    display: flex;
    font-size: 1.8rem;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.courses {
    flex: 2 1rem;
}
.consulting {
    flex: 1 3rem;
}
.retouch {
    flex: 1 1rem;
}
.studio {
    flex: 1;
}
.photo {
    flex: 1 4rem;
}
.portfolio {
    flex: 1 1rem;
}
li a {
    text-decoration: none;
    color: #222;
    transition: 0.3s;
    transition-timing-function: ease-in;
}
li a:hover {
    font-size: 1.8rem;
}
.container {
    display: flex;
    flex-direction: row;
}
.row {
    display: flex;
    flex-direction: column;
    width: 50vw;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    display: none;
}
.pie {
    padding-top: 5px;
    padding: 5px 30px 0;
    display: flex;
    height: 5.4rem;
    font-weight: 100;
    font-size: 12px;
    justify-content: space-between;
}
.pie ul {
    display: flex;
}
.pie ul li {
    margin: 0 20px;
    list-style: none;
}
.rrss {
    width: 25px;
}