* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Ubuntu;
    font-weight: 700;
    color: #333;
}
.header {
    height: 9.2rem;
    display: flex;
    flex-direction: column;
}
.head-top {
    height: 6rem;
    width: 100vw;
    background-color: #FF69B4;
    display: flex;
    align-items: center;
    position: relative;
    right: 5rem;
}
.head-pot {
    height: 3.6rem;
    width: 100vw;
    background-color: #00FFFF;
    display: flex;
    align-items: center;
    position: relative;
    left: 4rem;
}
.homer {
    margin-left: 9.6rem;
    font-size: 3.6rem;
    color: #fff
}
.subhomer {
    margin-left: 4.2rem;
    color: #000;
    font-size: 2rem;
}
.subhomer-2 {
    font-size: 1.8rem;
}
.clap {
    font-size: 3rem;
}
.emoji {
    font-size: 1.8rem;
}
.emoji-2 {
    font-size: 1.6rem;
}
.link {
    text-decoration: none;
    color: #444;
}
.market {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.products {
    margin: 0 auto;
    display: flex;
    justify-items: stretch;
    flex-wrap: wrap;
}
.item-box {
    width: 25rem;
    display: flex;
    flex-direction: column;
    margin: 3rem;
}
.item {
    width: 25rem;
    height: 25rem;
    object-fit: contain;
}
.description {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
::-webkit-scrollbar {
    display: none;
}